p {
  display: block;
  float: left;
  width: 100%;
}
.fond-ecran {
  display: block;
  float: left;
  position: relative; 
  width: 100%; 
  max-width: 1920px; 
  height: 150px;
  margin: 0 auto; 
  background: url("photo-accueil2light.jpg") 50% 0 no-repeat fixed; 
  box-shadow: 0 0 20px rgba(0,0,0,0.4);
}
